    body {
        background: #000000;
    }

    .clock {
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translateX(-50);
        translateY(-50);
        color: #000000;
        font-size: 80px;
        font-family: Impact;
        letter-spacing: 10px;
        /*width: min(500px, 70%);*/

    }


    /*need to install new font*/