    body {
        background: #000000;
    }

    .clock {
        position: absolute;
        top: 50%;
        left: 33%;
        transform: translateX(-50);
        translateY(-50);
        color: #033FFA;
        font-size: 80px;
        font-family: Impact;
        letter-spacing: 10px;

    }


    /*need to install new font*/